* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --grey-1: #eeeeee;
  --grey-2: #dddddd;
  --grey-3: #cccccc;
  --grey-4: #bbbbbb;
}


body{
  font-family: 'lato', sans-serif
}
.container {
  height: 100vh;
  background-color:var(--grey-4);
  min-width: 1100px;
  overflow-x: scroll;
}
.greenbackground {
  height: 20vh;
  background-color: #128c7e;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/* pagina principale  */
.left {
  float: left;
  overflow: hidden;
  width: 35%;
  min-width: 250px;
}
.page {
  top: 30px;
  height: 90%;
  width: 80%;
  background-color: white;
  position: absolute;
  font-size: 15px;
  overflow: hidden;
  min-width: 900px;
}
/* nav */
nav {

  height: 155px;
  background-color: var(--grey-1);
  display: flex;
  flex-flow: column;
  align-items: center;

  min-width: 250px;
}
/* Area utente  */
.opzioni-utente {
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nome-utente {
  display: flex;
  align-items: center;
}
.nome-utente img {
  height: 40px;
  border-radius: 50%;
}
.impostazioni-utente i {
  margin: 5px;
  color: rgb(163, 163, 163);
  cursor: pointer;
}
/* Attiva notifiche */
.notifiche {
  background-color: #34b7f1;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.bell-container {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bell-container i {
  color: #34b7f1;
  cursor: pointer;
}
.notifiche p {
  margin-left: 10px;
}
.notifiche a {
  color: black;
  font-size: 12px;
}
/* barra di ricerca chat */
.serch-bar {
  margin: 5px;
  background-color: white;
  width: 95%;
  height: 25px;
  display: flex;
}
.serch {
  width: 20%;
  border: 1px solid var(--grey-2);
  text-align: center;
  height: 25px;
  cursor: pointer;
}
.serch-bar i {
  color: rgb(163, 163, 163);
  vertical-align: middle;
}
.serch-bar input {
  width: 80%;
  height: 25px;
  border: 1px solid var(--grey-2);
  border-left: 0px;
}
/* aside */
.active {
  background-color: var(--grey-2);
}
aside {
  overflow-y: scroll;
  height: calc(100% - 155px);
  position: absolute;
  width: 35%;
  min-width: 250px;
}
/* chat card */
.chat img {
  height: 60px;
  border-radius: 50%;
  margin: 10px;
}
.chat {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1px solid var(--grey-2);
}
.chat:hover {
  background-color: var(--grey-1);
}
.chat-text {
  width: 100%;
  position: relative;
}
.nome {
  margin: 10px 10px 5px 10px;
}
.ultimo-messaggio {
  margin-left: 10px;
  color: var(--grey-4);
  font-size: 13px;
}
.ora-ultimo-messaggio {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  font-size: 10px;
  color: var(--grey-4);
}
/* main */
main {
  float: right;
  height: 100%;
  width: 65%;
  position: relative;
  min-width: 500px;
}
/* main nav */
.main-nav {
  height: 60px;
  background-color: var(--grey-1);
  border-left: 1px solid var(--grey-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav-profilo {
  display: flex;
  align-items: center;
}
.main-nav img {
  height: 40px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
}
.main-nav li {
  list-style-type: none;
}
.main-nav .ultimo-accesso {
  font-size: 13px;
  color: var(--grey-4);
}
 .main-nav-options{
} 
.main-nav-options i {
  margin-right: 10px;
  color: var(--grey-4);
  margin-right: 20px;
  cursor: pointer;
}
/* chat */
.background-chat {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 120px);
  overflow-y: auto;
  position: relative;
  padding: 10px;
}
.messaggio {
  background-color: white;
  width: 30%;
  border-radius: 10px;
  font-size: 14px;
  margin: 5px 10px;
  padding: 15px;
  position: relative;
}
.sent {
  background-color: #dcf8c6;
  float: right;
  clear: both;
  border-top-right-radius: 0px;
  text-align: left;
}
.received {
  background-color: white;
  float: left;
  clear: both;
  border-top-left-radius: 0px;
}
.messaggio-ora {
  bottom: 0;
  right: 0;
  margin: 3px;
  font-size: 10px;
  color: rgb(212, 212, 212);
  position: absolute;
}
.messaggio-opzioni i{
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  visibility: hidden;
}
.messaggio-opzioni:hover i{
visibility: visible;
}
/* scrivi messaggi  */
.scrivi-messaggio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: var(--grey-1);
}
.scrivi-messaggio input {
  width: 80%;
  height: 30px;
  border: 1px solid var(--grey-1);
  border-radius: 5px;
  
}
.scrivi-messaggio i {
  color: rgb(114, 114, 114);
  font-size: 20px;
  cursor: pointer;
}

.debug {
  border: 3px solid black;
}
