<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Whatsapp</title>
</head>

<body>
    <!-- sfondo -->
    <div class="container" id="app">
        <div class="greenbackground">
            <!-- pagina principale -->
            <div class="page">
                <div class="left">
                    <!-- nav -->
                    <nav>
                        <!-- Area utente -->
                        <div class="opzioni-utente">
                            <div class="nome-utente">
                                <img src="./img/avatar_io.jpg" alt="img-Utente" />
                                <p>Sofia</p>
                            </div>
                            <div class="impostazioni-utente">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- Attiva notifiche -->
                        <div class="notifiche">
                            <div class="bell-container">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <p>Ricevi notifiche di nuovi messaggi <br>
                                <a href="#">Attiva notifiche desktop</a>
                            </p>
                        </div>
                        <!-- barra di ricerca chat -->
                        <div class="serch-bar">
                            <div class="serch">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <input type="text">
                        </div>
                    </nav>
                    <!-- aside -->
                    <aside>
                        <div v-for="(contact, index) in contacts " class="chat"
                            :class="{'active' : activeIndex === index}" @click="openChat(index)">
                            <img :src="'./img/avatar' + contact.avatar + '.jpg'" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">{{contact.name}}</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <!-- {{contacts.messages.message}} -->
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div>
                        <!-- <div class="chat ">
                            <img src="./img/avatar_2.jpg" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">Michele</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div>
                        <div class="chat ">
                            <img src="./img/avatar_3.jpg" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">Michele</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div>
                        <div class="chat ">
                            <img src="./img/avatar_4.jpg" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">Michele</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div>
                        <div class="chat ">
                            <img src="./img/avatar_5.jpg" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">Michele</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div>
                        <div class="chat ">
                            <img src="./img/avatar_6.jpg" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">Michele</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div>
                        <div class="chat ">
                            <img src="./img/avatar_7.jpg" alt="immagine del profilo">
                            <div class="chat-text">
                                <p class="nome">Michele</p>
                                <p class="ultimo-messaggio">Ultimo messaggio inviato </p>
                                <p class="ora-ultimo-messaggio">12.00</p>
                            </div>
                        </div> -->
                    </aside>
                </div>
                <!-- main -->
                <main class="">
                    <!-- main nav -->
                    <div class="main-nav">
                        <div class="main-nav-profilo">
                            <img :src="'./img/avatar' + contacts[activeIndex].avatar + '.jpg'" alt="immagine del profilo">
                            <ul>
                                <li>
                                    <p>{{contacts[activeIndex].name}}</p>
                                </li>
                                <li>
                                    <p class="ultimo-accesso">Ultimo accesso oggi alle 12.00</p>
                                </li>
                            </ul>
                        </div>
                        <div class="main-nav-options">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>

                        </div>
                    </div>
                    <!-- chat -->
                    <div class="background-chat">
                        <div>
                            <div v-for="(item, index) in contacts[activeIndex].messages " class="messaggio"
                                :class="item.status">
                                {{item.message}}
                                <div class="messaggio-ora">{{item.date}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- scrivi messaggi -->
                    <div class="scrivi-messaggio">

                        <div class="emoji">
                            <i class="fa-solid fa-face-smile"></i>
                        </div>

                            <input @keyup.enter="sendMessage" v-model="message" type="text">


                        <div class="audio">
                            <i class="fa-solid fa-microphone"></i>
                        </div>

                    </div>
                </main>






            </div>
        </div>

    </div>
    <script src="./js/script.js"></script>
</body>

</html>